<font color="white"><h1>Editing Supplier</h1></font>

<%= render 'form' %>

<%= link_to 'Show',
            @supplier,
            :class => 'btn btn-primary' %>
            
<%= link_to 'Back',
            suppliers_path,
            :class => 'btn btn-primary' %>
<br>&nbsp;

