<center><h1>Bienvenido a...</h1></center>
<br>
<center><img src="http://www.mediafire.com/convkey/a985/olfwspu1upcskouzg.jpg?size_id=3" alt="some_text"></center>

<br>
<br>
<br>
<center><p>Find me in app/views/home/index.html.erb</p></center>
