<div class="container">
  <div>
    <h1 align="center"><font color="white"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Carrito de Compras</font></h1>
    <h1 align="center"><font color="white"><div class="total-cart"><%= render 'layouts/total_cart' %></div></font></h1>
</div>
<br/><br/>
<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>